<% include partials/header %>
	<div class="container container-main"> 
		
			<form action="/quiz/<%= userid %>/submit" method="post">
		
			<% for(var i=0; i < questions.length; i++) { %>
			   <div class="row">
			     <div><%= i+1 %>. <%= questions[i].text %></div>
			   </div>
			   <div class="row">
			   <% for(var j=0; j < questions[i].answers.length; j++) { %>
			   		<p>
				      <input name="<%= questions[i]._id %>" type="radio" value="<%= questions[i].answers[j]._id %>" id="<%= questions[i].answers[j]._id %>" />
				      <label for="<%= questions[i].answers[j]._id %>"><%= questions[i].answers[j].text %></label>
				    </p>
			   <% } %>
			   </div>
			<% } %>
			<div class="row">
        		<button class="waves-effect waves-light btn" id="form-submit">Submit</button>
        	</div>
			</form>
      </div>

<% include partials/footer %>
